/FMS_Passoff.log
/log.txt.0
/log.txt.1
/log.txt.2
/log.txt.3
/production/
/out/
/.idea/.gitignore
/target/classes/services/AuthenticationService.class
/target/test-classes/services/AuthenticationServiceTest.class
/target/classes/daos/AuthtokenDao.class
/target/test-classes/daos/AuthtokenDaoTest.class
/target/classes/handlers/ClearHandler.class
/target/classes/services/ClearService.class
/target/test-classes/services/ClearServiceTest.class
/.idea/compiler.xml
/target/classes/exceptions/DataAccessException.class
/target/classes/daos/Database.class
/.idea/dataSources.xml
/target/classes/daos/EventDao.class
/target/test-classes/daos/EventDaoTest.class
/target/classes/handlers/EventHandler.class
/target/classes/services/EventService.class
/target/test-classes/services/EventServiceTest.class
/target/classes/handlers/EventsHandler.class
/target/classes/services/EventsService.class
/target/test-classes/services/EventsServiceTest.class
/target/classes/utilities/FamilyGenerator.class
/target/classes/handlers/FileHandler.class
/target/classes/handlers/FillHandler.class
/target/classes/services/FillService.class
/target/test-classes/services/FillServiceTest.class
/target/classes/handlers/HandlerBase.class
/.idea/jarRepositories.xml
/target/classes/handlers/LoadHandler.class
/target/classes/services/LoadService.class
/target/test-classes/services/LoadServiceTest.class
/target/classes/utilities/models/Location.class
/target/classes/utilities/models/Locations.class
/target/classes/handlers/LoginHandler.class
/target/classes/services/LoginService.class
/target/test-classes/services/LoginServiceTest.class
/.idea/misc.xml
/.idea/modules.xml
/target/classes/utilities/models/Names.class
/target/classes/daos/PersonDao.class
/target/test-classes/daos/PersonDaoTest.class
/target/classes/handlers/PersonHandler.class
/target/classes/services/PersonService.class
/target/test-classes/services/PersonServiceTest.class
/target/classes/handlers/PersonsHandler.class
/target/classes/services/PersonsService.class
/target/test-classes/services/PersonsServiceTest.class
/.idea/inspectionProfiles/Project_Default.xml
/target/classes/handlers/RegisterHandler.class
/target/classes/services/RegisterService.class
/target/test-classes/services/RegisterServiceTest.class
/target/classes/Server.class
/target/test-classes/passoff/ServerTest.class
/.idea/artifacts/shared_jar.xml
/target/test-classes/utilities/TestExtensions.class
/.idea/uiDesigner.xml
/target/classes/daos/UserDao.class
/target/test-classes/daos/UserDaoTest.class
/.idea/vcs.xml
/.idea/libraries/xerial_sqlite_jdbc.xml